.footer-nav
    ul
        li
            a(href="#section1").active
        li
            a(href="#section2")    
        li
            a(href="#section3")
        li
            a(href="#section4")        