.body-wrapper
    .body-content
        .section#section1
            .wrapper
                .title
                    h2.title_section Hair Space
                        br
                        |REILE
                        .border
                            span#border1
                            span#border2
                    p.kind_section website
                    .btn-wrapper
                        a(href="#").btn Show me more
                a(href="#" id="img-link")
        .section#section2
            .wrapper
                .title
                    h2.title_section WomanDay 
                        br
                        |Project
                        .border
                            span#border1
                            span#border2
                    p.kind_section website
                    .btn-wrapper
                        a(href="#").btn Show me more
                a(href="#" id="img-link")
        .section#section3
            .wrapper
                .title
                    h2.title_section Hair Space
                        br
                        |REILE
                        .border
                            span#border1
                            span#border2
                    p.kind_section website
                    .btn-wrapper
                        a(href="#").btn Show me more
                a(href="#" id="img-link")
        .section.about-me#section4
            .wrapper
                .title
                    h2.title_section About me
                        br
                        |HungHcc
                        .border
                            span#border1
                            span#border2
                    p.kind_section Software Engineering
                    .btn-wrapper
                        a(href="#").btn Show me more
                a(href="#" id="img-link")                         


